BeautifulSoup==3.2.0
bootstrap==0.1dev
iso8601==0.1.4
Django==1.4
#psycopg2==2.4.5
dj-database-url==0.2.0

django-appconf==0.5
django-celery==2.5.1
django-notify==1.1.2
django-picklefield==0.2.0
django-queued-storage==0.5
django-storages==1.1.4
django-pgsql-interval-field==0.9.3

