{% extends "base.html" %}


{% block content %}
  <div class="chart" id="chart-canvas"></div>
{% endblock %}

{% block sidebar %}
  <h3>{{ title }}</h3>
  {% if tasks %}
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><i class="icon-ok"></i> Tasks</li>
      {% for t in tasks %}
        <li><strong><span class="label label-info">{{ t.name }}</span></strong> {{ t.total }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="toolbar btn-group">
      {% load tags %}
      <a class="btn {% active request all_tasks %}" href="{% url all_tasks %}">Everyone</a>
      <a class="btn {% active request my_tasks %}" href="{% url my_tasks %}">Mine</a>
  </div>
{% endblock %}

{% block chartcode %}
  var chart1; // globally available
  $(document).ready(function() {
        chart1 = new Highcharts.Chart({
           chart: {
              renderTo: 'chart-canvas',
              type: 'bar',
              
              plotShadow: false
           },
           title: {
              text: 'What we been doing?'
           },
           xAxis: {
              categories: {{ categories|safe }}
           },
           yAxis: {
              title: {
                 text: 'Minutes'
              }
           },
           series: [{
              data: {{ values|safe }}
           }]
        });
     });
{% endblock %}