{% extends "base.html" %}


{% block content %}
	<div class="chart" id="chart-canvas"></div>
{% endblock %}

{% block sidebar %}
	
	<h3>{{ title }} {% if datefrom and dateto  %}<a href="{{ base_url }}"><span class="label label-info filter">Filtered <small>&times;</small></span></a>{% endif %}</h3>
	<ul class="nav nav-tabs">
			{% load tags %}
			
			{% if datefrom and dateto  %}
			<li class="tab {% activeparent request all_tasks %}"><a href="{% url all_tasks datefrom dateto %}">Everyone</a></li>
			<li class="tab {% activeparent request my_tasks %}"><a href="{% url my_tasks datefrom dateto %}">Mine</a></li>
			<li class="tab {% activeparent request people_tasks %}"><a href="{% url people_tasks datefrom dateto %}">Breakdown</a></li>
			{% else %}
			<li class="tab {% active request all_tasks %}"><a href="{% url all_tasks %}">Everyone</a></li>
			<li class="tab {% active request my_tasks %}"><a href="{% url my_tasks %}">Mine</a></li>
			<li class="tab {% active request people_tasks %}"><a href="{% url people_tasks %}">Breakdown</a></li>
			{% endif %}
	</ul>
	{% block tasks %}
	{% if tasks %}
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header"><i class="icon-ok"></i> Tasks</li>
			{% for t in tasks %}
				<li><strong><span class="label label-info">{{ t.name }}</span></strong> {{ t.total }}</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<p class="alert alert-box alert-warning"><i class="icon icon-warning-sign"></i> Could not find any tasks</p>
	{% endif %}
	{% endblock %}
	
	<h3>Filter Date</h3>
	<div class="well">
		<form id="date_filters">
			<label for="date_from">From</label>
			<input class="span15" type="date" id="date_from" name="date_from" value="{% if date.from %}{{ date.from|date:"Y-m-d" }}{% endif %}" />
			<label for="date_to">To</label>
			<input class="span15" type="date" id="date_to" name="date_to" value="{% if date.to %}{{ date.to|date:"Y-m-d" }}{% endif %}" />
			<button class="btn btn-primary btn-small" id="btn_filter">Filter</button>
		</form>
	</div>

	{% if months %}
	<div class="well">
		<form id="months" class="form-vertical">
			<div class="control-group">
				<label class="control-label" for="month">Select a month</label>
				<div class="controls">
					<select name="month" id="month">
						{% for m in months %}
							<option value="{{ m.from|date:"Y-m-d" }}/{{ m.to|date:"Y-m-d" }}" {% if m.selected %}selected="selected"{% endif %}>{{ m.text }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<button class="btn btn-primary btn-small" id="btn_filter">Filter</button>
		</form>
	</div>
	{% endif %}
{% endblock %}

{% block chartcode %}
	var base_url = "{{ base_url }}";
	var chart1; // globally available
	$(document).ready(function() {
		chart1 = new Highcharts.Chart({
			chart: {
				renderTo: 'chart-canvas',
				type: 'bar',

				plotShadow: false
			},
			plotOptions: {
				series: {
					groupPadding: 0,
					shadow: false,
					borderRadius: 3
				}
			},
			title: {
				text: 'What we been doing?'
			},
			xAxis: {
				categories: {{ categories|safe }}
			},
			yAxis: {
				title: {
					text: 'Minutes'
				}
			},
			series: [{
				data: {{ values|safe }}
			}]
		});
	});
{% endblock %}