{% extends "base.html" %}

{% block content %}
	<div id="dropbox">
    <h2 id="droplabel">Draggy Droppy</h2>
    <ul id="list"></ul>
   </div>
{% endblock %}

{% block sidebar %}
  <h3>My Projects</h3>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      {% if mytasks %}

      <li class="nav-header"><i class="icon-ok"></i> Tasks</li>
        {% for t in mytasks %}
          {% if t.task %}<li>{{ t.task }}</li>{% endif %}
        {% endfor %}

      <li class="nav-header"><i class="icon-warning-sign"></i> Un assigned tasks</li>
        {% for t in mytasks %}
          {% if not t.task %}<li><a href="{% url assign_alias t.id %}">{{ t.string }}</a></li>{% endif %}
        {% endfor %}
      {% else %}
      <li>You dont have any yet</li>
      {% endif %}
    </ul>
  </div><!--/.well -->
{% endblock %}

{% block spotlights %}
<div class="span4">
  <h2>Recent Imports</h2>
  {% if imports %}
    {% for i in imports %}
      <li>{{ i.date }}</li>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}